---
import { globalProps } from "@/globalProps.js";
import Layout from "@/layout/Layout.astro";
import Page from "@/layout/Page.astro";

globalProps.page_section = "guides";
---

<Page>
	<Layout article_variant="1">
		<h1>Кланы</h1>
		<hr data_variant_1 />
		<h3 style=" display: block ">Создание клана:</h3>
		Цена такого удовольствия 2кDP. После становления лидером клана, вы получаете
		дополнительные чанки привата, но не ваши личные, а чанки привата клана, с каждым
		апгрейдом вашего клана, количество этих чанков будет расти.Улучшение клана стоит
		500DP, до недавних пор, макс. уровень клана был 50, но в этом вайпе макс. уровень
		клана повысили до 70.То есть, для того что бы у вас былл фулл прокачанный клан,
		вам нужно будет потратить 5500DP.
		<hr data_variant_1 />
		<h3 style=" display: block ">Кто может управлять приватом клана?</h3>
		Приватом клана могут управлять только его лидер и заместитель
		<hr data_variant_1 />
		<h3 style=" display: block ">
			Сколько чанков привата дают лидерам кланов?
		</h3>
		Ждём
		<hr data_variant_1 />
		<h3 style=" display: block">Квесты клана:</h3>
		После создания клана вам нужно будет его прокачивать, для этого нужны клан квесты,
		за их выполнение вы будете получать опыт для улучшения клана, так же, вы будете
		получать батарейки\ключи, награды распределяются соответственно тому, сколько
		вклада вы внесли в выполнение квеста.С каждым новым апгрейдом клана, сложность
		квестов будет возрастать, как и награды за их выполнение,к примеру, на первом
		уровне клана, в задании на поимку шайни покемонов, вам нужно будет словить 4
		шайни покемона,а на 50 уровне вам нужно будет словить 24 шайни покемона.
		<b style=" display: block ">
			<p>Примеры квестов:</p>
			<details>
				<summary>Показать картинку</summary>
				<img loading="lazy" src="images/questions.jpg" alt="" />
			</details>
		</b>
		<hr data_variant_1 />
		<h3 style=" display: block ">Кто может брать квесты клана?</h3>
		Квесты клана могут брать лидер клана и его заместитель
	</Layout>
</Page>

<style>
	span {
		white-space: pre;
	}
</style>
