---
import Tooltiped from "@/TooltipedOnClick.astro";
import ThemeSwitcher from "@/layout/header/ThemeSwitcher.astro";
---

<element-container>
	<Tooltiped
		transition
		_aside={{ style: "right: 0; top: 100%" }}
		_section={{ style: "height: 100%" }}
	>
		<button class="control_open" slot="container">T</button>
		<section slot="content" class="params_cointainer">
			<p>
				<ThemeSwitcher />
			</p>
		</section>
	</Tooltiped>
</element-container>

<style>
	element-container {
		aspect-ratio: 1/1;
		height: 80%;
		display: flex;
		justify-content: center;
	}

	.params_cointainer {
		width: max-content;
		max-width: 90vw;
		background-color: color-mix(
			in hsl shorter hue,
			var(--page-background-color),
			var(--page-text-color) 5%
		);
		padding: 5px;
		border-radius: 3px;
	}

	.control_open {
		height: 100%;
		aspect-ratio: 1/1;
		cursor: pointer;
		align-self: center;
		border-radius: 50%;
		font-weight: bold;
		-webkit-text-stroke: 4px currentColor;
		-text-stroke: 4px currentColor;
		outline: none;
		border: none;
	}
</style>
