---
import Page from "@/layout/Page.astro";
import Layout from "@/layout/Layout.astro";
import { globalProps } from "@/globalProps.js";

globalProps.page_section = "guides";
---

<Page>
	<Layout article_variant="1">
		<h1>Владения и зоны приватов</h1>
		<section>
			<hr data_variant_1 />
			<span>
				<p>Основные категории приватов:</p>

				<ul class="list">
					<li>Первая: <a href="#player-privates">Приваты игроков</a></li>
					<li>Вторая: <a href="#admin-privates">Приваты администрации</a></li>
					<li>Третья: <a href="#clan-privates">Приваты кланов</a></li>
				</ul>
			</span>

			<hr data_variant_1 />
			<section id="player-privates">
				<h3>Приваты игроков</h3>
				<p>
					<i>Куда без приватов, чтобы защитить собственные владения...</i>
					Посмотреть свои приваты вы можете нажав на кнопку <span>«C»</span>; вы
					также увидите ближайшие приваты игроков, а чтобы увидеть чьи они,
					можно навестись.
				</p>
				Всего в распоряжение вам дают сорок восемь чанков и три зоны для его установки.
				Однако вы можете увеличить количество чанков доступных для привата, купив
				донат наборы (подробности каждого из донат наборов вы можете увидеть на официальном
				сайте Black Dragon). Также вы можете добавить своих друзей в приват, введя
				ник вашего друга и нажав на кнопку «Добавить» в меню приватов. После того
				как вы добавили своего друга в свой приват, вы можете выдать права на использование\редакт
				вашего привата нажав на ник своего друга, в меню «Доступ».
			</section>
			<hr data_variant_1 />
			<section id="admin-privates">
				<h3>Приваты администрации</h3>
				В приватах администрации вы можете летать на покемонах, но, не во всех зонах.
				В аду есть свободные зоны которые не находятся под контролем администрации,
				но вы не сможете поставить там свой приват, потому, что там отключено управление
				зонами приватов, в ультра мире всё так же, но, там нет зон под управлением
				администрации, так что, ультра мир это абсолютно свободное измерение в котором
				вы можете делать что хотите, но строить там свой дом нет смысла, его обнесут
				за 1–2 дня.
			</section>
			<hr data_variant_1 />
			<section id="clan-privates">
				<h3>Приваты кланов</h3>
				Приваты кланов это почти тоже самое что и приваты игроков, вы покупаете лицензию
				на создание клана, и получаете возможность использовать чанки привата своего
				клана, но, есть различие, приватом клана могут управлять два человека, глава
				клана и заместитель главы, а приватом игроков только сам игрок который поставил
				этот приват.
			</section>
		</section>
	</Layout>
</Page>
