---
import Page from "@/layout/Page.astro";
import Layout from "@/layout/Layout.astro";
import { globalProps } from "@/globalProps.js";

globalProps.page_section = "guides";
---

<Page>
	<Layout>
		<h1>Приваты</h1>
		<hr data-variant-1 />
		<span>
			<p>Куда без приватов, чтобы защитить свои владения.</p>
			<p>Их существует три типа:</p>

			<ul class="list">
				<li>Первый: <a href="#player-privates">Приваты игроков</a></li>
				<li>Второй: <a href="#admin-privates">Приваты администрации</a></li>
				<li>Третий: <a href="#clan-privates">Приваты кланов</a></li>
			</ul>
		</span>
		<hr data-variant-1 />
		<section id="player-privates">
			<h3 style="display: block; text-align: center;">Приваты игроков</h3>
			<b style="margin-top:20px; display: block">
				Посмотреть свои приваты вы можете нажав на кнопку <span>С</span>, вы
				также увидите ближайшие приваты других игроков, а когда наведётесь на их
				приваты, увидите чьи они. Всего вам дают 48 чанков привата, и 3 зоны для
				установки этого самого привата, но, вы можете увеличить кол-во чанков
				доступных для привата, купив донат наборы, подробности каждого из донат
				наборов вы можете увидеть на оффициальном сайте Black Dragon. Так же, вы
				можете добавить своих друзей в свой приват, введя ник вашего друга и
				нажав на кнопку "Добавить" в меню приватов. После того как вы добавили
				своего друга в свой приват, вы можете выдать права на
				использование\редакт вашего привата нажав на ник своего друга, в меню
				"Доступ".
			</b>
		</section>
		<hr data-variant-1 />
		<section id="admin-privates">
			<h3 style=" display: block; text-align: center;">
				Приваты администрации
			</h3>
			<b style="margin-top:20px; display: block">
				В приватах администрации вы можете летать на покемонах, но, не во всех
				зонах.В аду есть свободные зоны которые не находятся под контролем
				администрации, но вы не сможете поставить там свой приват, потому, что
				там отключено управление зонами приватов, в ультра мире всё так же, но,
				там нет зон под управлением администрации, так что, ультра мир это
				абсолютно свободное измерение в котором вы можете делать что хотите, но
				строить там свой дом нет смысла, его обнесут за 1-2 дня.
			</b>
		</section>
		<hr data-variant-1 />
		<section id="clan-privates">
			<h3 style="display: block; text-align: center;">Приваты кланов</h3>
			<b style="margin-top:20px; display: block">
				Приваты кланов это почти тоже самое что и приваты игроков, вы покупаете
				лицензию на создание клана, и получаете возможность использовать чанки
				привата своего клана, но, есть различие,приватом клана могут управлять 2
				человека, глава клана и заместитель главы, а приватом игроков только сам
				игрок который поставил этот приват.
			</b>
		</section>
	</Layout>
</Page>

<style>
	span {
		white-space: pre;
	}
</style>
