---
import Page from "@/layout/Page.astro";
import Layout from "@/layout/Layout.astro";
import Copyable from "@/Copyable.astro";
import { globalProps } from "@/globalProps.js";

globalProps.page_section = "guides";
---

<Page>
	<Layout article_variant="1">
		<h1>Спавн легенд</h1>
		<hr data_variant_1 />
		<h3 style=" display: block ">Спавн легенд:</h3>
		<p>
			Это очень интересная штука (у меня за шесть или семь лет игры на этом
			проекте, лега заспавнилась всего одна раз). Постараюсь как можно понятней
			обьяснить как это всё работает.
		</p>
		<p>
			Каждые ?(todo) минут, есть шанс спавна легенды, шанс на спавн легенды
			составляет 10%. Если за указанное время лега не заспавнилась, то таймер
			обновляется, время через которое она опять сможет заспавнится с 10%
			шансом, генерируется рандомно.Все леги спавнятся в разных биомах и в
			разное время, почитать о том, где и как спавнится покемон, вы можете в
			гугле.
		</p>
		<p>
			Я попросил бывшего модератора проекта, обьяснить как происходит спавн
			легенд, если моё обьяснение было не понятным, прочтите то, что написал он:
		</p>
		<p>
			"Есть процент спавна легендарки (10%) еще есть проценты индивидуальные для
			каждой леги которые решают игроки проводя время в определенном биоме
			(Roofed Forest) стоит пять человек то есть шанс больше у зерна, а если в
			(beach) стоит два человека то начинается рандом 60% процентов против 20%"
		</p>

		Проверить время спавна легенды, можно <b>командой</b>
		<Copyable> /checkspawns legendary </Copyable>

		<img
			loading="lazy"
			style="margin-top: 20px"
			src="/images/legendi.jpg"
			alt=""
		/>
		<hr data_variant_1 />
		<h3 style="margin-top: 40px">Спавн ультра бистов</h3>
		<p style="display: block ">
			Спавн бистов это тоже самое что и спавн легенд, но бисты спавнятся в
			ультра мире (подробнее в разделе <a href="/dimension">«Измерения»</a>) и
			шанс на их спавн составляет 20%
		</p>
		Проверить время спавна биста, можно <b>командой</b>
		<Copyable> /checkspawns ultrabeasts </Copyable>

		<img
			loading="lazy"
			style="margin-top:20px"
			src="/images/bisti.jpg"
			alt=""
		/>
	</Layout>
</Page>
