---
import Page from "../../layouts/Page.astro";
import Layout from "../../layouts/Layout.astro";
---

<Page>
  <Layout>
    <h1>Батарейки</h1>
    <>
      <p style="margin-top: 20px; display: block ">Типы батареек:</p>

      <ul class="list-with-images li">
        <li>
          <span style="margin-top: 20px; display: block "
            >Полная батарейка (ФБ)</span
          >
          <img src="/images/battery1.webp" alt="" />
        </li>
        <li>
          <span>Слабая батарейка (СБ)</span>
          <img src="/images/battery2.webp" alt="" />
        </li>
        <li>
          <span>Нестабильная батарейка (Обычно называют "Нестабы")</span>
          <img src="/images/battery3.webp" alt="" />
        </li>
      </ul>
      <span class="line"></span>
      <b style="margin-top: 20px; display: block">
        Батарейки это ходовая валюта сервера, за них вы можете купить почти всё
        что угодно(если ваш бюджет вам это позволяет конечно), так же, их
        используют для заряда покевопросов(о том что такое покевопросы вы можете
        почитать в самом разделе "Покевикторина")
      </b>
      <span class="line"></span>
      <b style="margin-top: 10px; display: block ">
        Способов получения батареек есть много.
      </b>
      <ul class="list">
        <li>
          Первый: Вы можете отвечать на вопросы в покевикторине(подробнее в
          разделе "Покевикторина")
        </li>
        <li>
          Второй: Продажа ваших предметов, вы можете продать любой предмет
          который у вас есть, за батарейки, если он кому-то нужен конечно, если
          ваш предмет не пользуется спросом, то его врядли купят.
        </li>
        <li>Третий: Выполнение клан квестов(подробнее в разделе "Кланы")</li>
        <li>
          Четвёртый: Квесты на спавне. На спавне расположены квестовики,
          выполнив поручения от них, вы получите награду, там могут быть как
          батарейки, так и множество других предметов.
        </li>
        <li>
          Пятый: Розыгрыши. Иногда, игроки сервера делают раздачи, в которых вы
          можете залутать награды, в их числе могут быть батарейки. Кстати на
          счёт розыгрышей, на моём твич канале(boobooblant) по понедельникам
          происходят стримы, стримы я делаю исключительно для того что бы
          раздать вам своё имущество, участвующих у меня не много, так что если
          вы зайдёте на стрим, то у вас будут не плохие шансы на выигрышь.
        </li>
      </ul>
    </>
  </Layout>
</Page>

<style>
  .list-with-images {
    list-style: none;
  }

  .list-with-images li {
    display: flex;
    flex-direction: column;

    padding: 2px;
    gap: 5px;
  }

  .list-with-images li img {
    width: 5em;
  }

  .line {
    height: var(--page-header-height);
    border-bottom: 2px solid #440707c0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
