---
import Page from "../../layouts/Page.astro";
import Layout from "../../layouts/Layout.astro";
---

<Page>
  <Layout>
    <h1>
        Кланы
    </h1>
    <span class="line"></span>
    <h3 style = "margin-top: 40px; display: block ">
      Создание клана:
    </h3>
    <b style="display: block">  Цена такого удовольствия 2кDP. После становления лидером клана, вы получаете дополнительные чанки привата, но не ваши личные, а чанки привата клана, с каждым апгрейдом вашего клана, количество этих чанков будет расти.Улучшение клана стоит 500DP, до недавних пор, макс. уровень клана был 50, но в этом вайпе макс. уровень клана повысили до 70.То есть, для того что бы у вас былл фулл прокачанный клан, вам нужно будет потратить 5500DP.
    </b>
    <span class="line"></span>
    <h3 style="margin-top: 20px; display: block ">
      Кто может управлять приватом клана?
    </h3>
    <b style="display: block">
      Приватом клана могут управлять только его лидер и заместитель
    </b>
    <span class="line"></span>
    <h3 style="margin-top: 20px; display: block ">
      Сколько чанков привата дают лидерам кланов?
    </h3>
    <b style="display: block">
      Жду инфу -_-
    </b>
    <span class="line"></span>
    <h3 style="margin-top: 40px; display: block">
      Квесты клана: 
    </h3>
    <b style="display: block">
      После создания клана вам нужно будет его прокачивать, для этого нужны клан квесты, за их выполнение вы будете получать опыт для улучшения клана, так же, вы будете получать батарейки\ключи, награды распределяются соответственно тому, сколько вклада вы внесли в выполнение квеста.С каждым новым апгрейдом клана, сложность квестов будет возрастать, как и награды за их выполнение,к примеру, на первом уровне клана, в задании на поимку шайни покемонов, вам нужно будет словить 4 шайни покемона,а на 50 уровне вам нужно будет словить 24 шайни покемона.
    </b>
    <b style="margin-top: 20px; display: block ">
      <p>Примеры квестов:</p>
      <details>
      <summary>Показать картинку</summary>
      <img style="margin-top:20px" src="/images/questions.jpg" alt="" />
      </details>
    </b>
    <span class="line"></span>
    <h3 style="margin-top: 20px; display: block ">
      Кто может брать квесты клана?
  </h3>
  <b style="display: block">
  Квесты клана могут брать лидер клана и его заместитель
  </b>
  <span class="line"></span>
    <!-- /contents/0.html -->
  </Layout>
</Page>

<style>
  span {
    white-space: pre;
  }
  .line {
    height: var( --page-header-height );
	border-bottom: 2px solid #440707c0;	
	display: flex;
	justify-content: center;
	align-items: center;
  }
</style>
