---
import Page from "../../layouts/Page.astro";
import Layout from "../../layouts/Layout.astro";
---

<Page>
  <Layout>
    <span>
      
    </span>
    <b style="margin-top: 90px; display: block">
      
    </b>
    <b style="margin-top: 10px; display: block ">
      
    </b>
    <!-- /contents/0.html -->
  </Layout>
</Page>

<style>
  span {
    white-space: pre;
  }
</style>
