---
import Page from "../../layouts/Page.astro";
import Layout from "../../layouts/Layout.astro";
import Copyable from "../../components/Copyable.astro";
import Tooltiped from "../../components/Tooltiped.astro";
import { Code } from "astro:components";
---

<Page>
  <Layout>
    <p>
      Привет, это моя собственная страничка для всяких штук. Вы можете сюда
      добавлять свои классные штуки
    </p>
    <Copyable>Нажми, чтобы скопировать</Copyable>
    <details>
      <summary>Нажми, чтобы открыть</summary>
      <Code code="hello('console.log');" lang="js" />
    </details>
    <Tooltiped transition>
      <span slot="container" style="text-decoration: underline dotted;"
        >Аватарка</span
      >
      <span
        slot="content"
        style="transform: translateY(-20px); border-radius: 50%; padding: 10px; background-color: #2228; display: flex; place-content: center; width: 5em; aspect-ratio: 1/1"
      >
        <img
          src="https://images-ext-2.discordapp.net/external/OimPuLr4HnGusRLoiZqPSCW88hAeXbty0jpStPFuDyQ/https/cdn.discordapp.com/avatars/921403577539387454/bcef00c62b72864983775c065071edd1.webp?format=webp"
          style="max-width: 100%; border-radius: 50%"
          loading="lazy"
          alt=""
        />
      </span>
    </Tooltiped>
    <p>Нажмите на <span id="openSite" style="color:blue; text-decoration: underline; cursor: pointer;">это сочетание слов</span>, чтобы открыть новое окно с указанным сайтом.</p>

<script>
document.getElementById("openSite").addEventListener("click", function(){
  window.open("https://bd-server.com/", "_blank");
});
</script>
  </Layout>
</Page>

<style>
  span {
    white-space: pre;
  }


  }
</style>
