---
import Page from "@/layouts/Page.astro";
import Layout from "@/layouts/Layout.astro";
import Copyable from "@components/Copyable.astro";
import Tooltiped from "@components/Tooltiped.astro";
import { Code } from "astro:components";
import TextAlignSwitcher from "@components/control/TextAlignSwitcher.astro";
import AnimatedCube from "@components/zoodogood/AnimatedCube.astro";
const id = `id_${crypto.randomUUID()}`;
import { globalProps } from "@lib/globalProps.js";

globalProps.page_section = "guides";
---

<Page>
  <Layout>
    <h1>@/pages/enot.astro</h1>
    <p>
      Привет, это моя собственная страничка для всяких штук. Вы можете сюда
      добавлять свои классные штуки
    </p>
    <h3>@components/Copyable</h3>
    <Copyable>Нажми, чтобы скопировать</Copyable>
    <h3>HTML tag: details</h3>
    <details>
      <summary>Нажми, чтобы открыть</summary>
      <Code code="hello('console.log');" lang="js" />
    </details>
    <hr />
    <h3>@components/Tooltiped</h3>
    <Tooltiped transition>
      <span slot="container" style="text-decoration: underline dotted;"
        >Аватарка</span
      >
      <span
        slot="content"
        style="transform: translateY(-20px); border-radius: 50%; padding: 10px; background-color: #2228; display: flex; place-content: center; width: 5em; aspect-ratio: 1/1"
      >
        <img
          src="https://images-ext-2.discordapp.net/external/OimPuLr4HnGusRLoiZqPSCW88hAeXbty0jpStPFuDyQ/https/cdn.discordapp.com/avatars/921403577539387454/bcef00c62b72864983775c065071edd1.webp?format=webp"
          style="max-width: 100%; border-radius: 50%"
          loading="lazy"
          alt=""
        />
      </span>
    </Tooltiped>

    <h3>HTML tag: a (open new page in browser)</h3>
    <a href="https://bd-server.com/" target="_blank"
      >Комплекс игровых серверов Minecraft</a
    >

    <span class="line"></span>
    <p>В моменте захотелось сделать такое:</p>
    <h3>@components/AnimatedCube</h3>
    <AnimatedCube />
    <hr />
    <TextAlignSwitcher />

    <p>
      <p>Цветовой акцент:</p>
      <input
        type="color"
        onchange=`document.documentElement.style.setProperty("--accent-color", this.value)`
      />
    </p>
    <p>
      <p>Размер шрифта:</p>
      <input
        type="range"
        min="1"
        onchange="document.body.style.setProperty('font-size', isNaN(this.value) ? 'inherit' : `${this.value / 100 + 0.5}em`)"
      />
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta enim
      et efficitur consequat. Nunc mauris urna, varius vel odio quis, tincidunt
      placerat lectus. Cras eget suscipit lectus, eget ornare ipsum. Vestibulum
      ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
      curae; Suspendisse ut interdum tortor. Sed arcu erat, fermentum at tellus
      ut, sodales semper mi. Phasellus nec congue mi. Maecenas ac mauris sit
      amet tortor placerat sollicitudin. Etiam hendrerit facilisis erat id
      sollicitudin. Pellentesque commodo accumsan eleifend. Suspendisse libero
      turpis, mollis ac aliquam sed, congue eget felis. Sed rhoncus varius
      mauris. Mauris a erat mollis, vulputate est quis, tristique massa. Morbi
      eleifend id leo bibendum mollis. Pellentesque suscipit dolor nec porta
      pharetra. Vivamus rhoncus lacus ac nisl convallis, vel eleifend orci
      vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
      ultricies tincidunt justo, vitae facilisis nunc posuere scelerisque. Nulla
      quis placerat diam. Orci varius natoque penatibus et magnis dis parturient
      montes, nascetur ridiculus mus. Sed eget condimentum erat, eu pretium est.
      Maecenas tempor venenatis nulla quis molestie. Donec rutrum congue
      ullamcorper. Fusce vitae eros eget felis pellentesque blandit. Nulla
      pulvinar eu lectus eu egestas. In placerat quis augue vel pharetra. Nunc
      dolor erat, tristique sit amet eros laoreet, efficitur tincidunt libero.
      Donec in purus varius, porta nisl at, gravida purus. Mauris in venenatis
      metus. Sed elementum eget erat in posuere. Duis lobortis vitae ex vitae
      lobortis. Aenean velit eros, ullamcorper imperdiet massa eu, lacinia
      vestibulum sem. Sed venenatis lacus vehicula tellus porttitor, sed
      ullamcorper ipsum bibendum. Suspendisse auctor quam felis, rhoncus commodo
      libero blandit non. Vivamus et felis enim. Integer ut vulputate felis.
      Fusce consectetur eros sit amet nunc rutrum consectetur. Fusce iaculis
      eget purus nec volutpat. Fusce ut semper purus, sed cursus dolor. Mauris
      purus lacus, condimentum rutrum pretium non, venenatis ac lacus. Ut eros
      nisi, posuere in turpis vel, mattis posuere justo. Morbi lobortis, augue
      eu mollis lobortis, mi metus facilisis ligula, et efficitur nibh est in
      eros. Suspendisse venenatis eros eget malesuada consectetur. Curabitur
      ultrices dapibus mi, eu tincidunt mi laoreet vitae. Nullam tristique porta
      nisi in euismod. Praesent nisi dolor, accumsan in elit non, ullamcorper
      sodales ex. Nunc dictum enim non cursus tincidunt. Nullam eu lectus
      lobortis, efficitur velit vel, convallis ipsum. Suspendisse potenti.
    </p>

    <section class={`authorize ${id}`}>
      <span
        >Authorized data: <slot-element class="authorized-data"
        ></slot-element></span
      >
      <button>Authorize</button>
    </section>
  </Layout>
</Page>

<script is:inline>
  (async () => {
    const x = await fetch("/api/on-user-join");
    const text = await x.text();
    console.log(text);
  })();
</script>

<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2" is:inline
></script>

<style>
  span {
    white-space: pre;
  }
</style>
