---
import Page from "../../layouts/Page.astro";
import Layout from "../../layouts/Layout.astro";
---
<Page>
	<Layout>
<h1 style="margin-top: 20px;">
	Админы и Модеры
</h1>
<span class="line"></span>
<h3 style="margin-top: 20px; display: block">
	Здесь описано то, как я вижу админов и модеров этого проекта
</h3>
<b style="margin-top: 30px; display: block">
	infernalistik: Добрый, крутой, да и в общем то хороший человек, ответит вам даже на самые глупые вопросы, позитивный человек (Играет в доту(он много во что играет, но захотелось выделить именно доту))
</b>
<span class="line"></span>
<b style="margin-top: 30px; display: block">
	Cepera: Честно сказать, я хз что сказать. Из того что я знаю, я понял что Серёга рофло тип, я попросил Пайна (PineApple) спросить Серёгу, могу ли я с ним поговорить, что б понять кто он, но Пайн ответил, цитирую "Он не то что с тобой, он и со мной то не говорит" © PineApple.
</b>
<span class="line"></span>
<b style="margin-top: 30px; display: block">
	PineApple: Хороший человек, к нему вы можете обратиться в любое время суток, он не знает что такое сон. Позитивный, иногда рофляный, Есть у меня несколько пикч с ним, но покажу я только две)
</b>
<details>
      <summary>Показать картинку</summary>
<img loading="lazy" style="margin-top:20px" src="/images/ochko.jpg" alt="" />
</details>
<details>
      <summary>Показать картинку</summary>
<img loading="lazy" style="margin-left: 0px;" src="/images/pain.jpg" alt="" />
</details>
<span class="line"></span>
<b style="margin-top: 30px; display: block">
	ImGroont: Заходит на сервер не часто, но и не редко, в чате пишет не часто, от него исходит какой-то негатив, но хз, большего сказать не могу, потому, что нечего говорить.
</b>
<span class="line"></span>
<b style="margin-top: 30px; display: block">
	GrOuS_Off_On:
</b>
<span class="line"></span>
<b style="margin-top: 30px; display: block">
	SofkaMur:	
</b>
<span class="line"></span>
<b style="margin-top: 30px; display: block">
	mrusenburg:
</b>
<span class="line"></span>
<b style="margin-top: 30px; display: block">
	Yan_Mayer:
</b>
<span class="line"></span>
<b style="margin-top: 30px; display: block">
	w1wk4: Девушка позитивная, и стеснительная (такой вывод был сделан исходя из видео). Не ШИШКА а ВИВКА. 
</b>
<span class="line"></span>
    <!-- /contents/0.html -->
  </Layout>
</Page>

<style>
  span {
    white-space: pre;
  }
  
</bstyle>