---
import Page from "../../layouts/Page.astro";
import Layout from "../../layouts/Layout.astro";
---

<Page>
  <Layout>
    <h1>Полезное</h1>
    <h4 style="margin-top: 20px">
      В этом разделе будут размещены уточнения по некоторым другим разделам,а
      также мини гайды по самому моду pixelmon
    </h4>
    <span class="line-1"></span>
    <h3>Список всего что есть в этом разделе:</h3>
    <ul class="list">
      <li>Ультра мир</li>
      <li>Рейды</li>
    </ul>
    <span class="line"></span>
    <h3>Ультра мир</h3>
    <b>
      Ультра-мир очень схож с Эндер-миром. Он состоит из множества летающих
      островов, находящихся в разных биомах, так же там есть уникальные
      ультра-биомы.
    </b>
    <b style="margin-top: 10; display: block">
      В этом измерении с перемещением есть не большие проблемы, так как там
      понижена гравитация, но для вас это не будет проблемой если у вас есть
      ультра ускоритель
    </b>
    <b style="margin-top: 10px; display: block">
      Так же в ультра-мире шансы спавна хидов и шайни покемонов больше в 2 раза
    </b>
    <b style="margin-top: 10px; display: block">
      Туман в измерении сильно уменьшает дальность обзора, для того, что бы
      ослабить эффект тумана можно надеть Защитные Очки в слот шлема
    </b>
    <b style="margin-top: 10px; display: block">
      Исследуя ультра-мир, помимо обычных деревень вы можете найти несколько
      других данжей, а именно: крепости из незера и эндер-города с летающими
      кораблями. По всему ультра миру разбросаны бист-луты и мастер-луты
    </b>
    <details>
      <summary>Показать картинку</summary>
      <img style="margin-top:20px" src="" alt="" />
    </details>

    <details>
      <summary>Показать картинку</summary>
      <img style="margin-top:20px" src="" alt="" />
    </details>
    <!-- /contents/0.html -->
  </Layout>
</Page>

<style>
  
</style>
