---
import Page from "../../layouts/Page.astro";
import Layout from "../../layouts/Layout.astro";

import { globalProps } from "@lib/globalProps.js";

globalProps.page_section = "guides";
---

<Page>
  <Layout>
    <h1>Помощь проекту</h1>
    <span class="line"></span>
    <b style="margin-top: 50px; display: block">
      Помогать проекту вы можете максимально просто. Кидайте репорты на
      нарушителей в чате 😈😈😈😈😈
    </b>
    <b style="margin-top: 10px; display: block ">
      Если не знаете как, ща покажу
    </b>
    <div style="text-align:center;">
      <img
        loading="lazy"
        style="margin-top:20px"
        src="/images/project help.png"
        alt=""
      />
    </div>
    <b style="margin-top:20px; display: block">
      Восклицательный знак возле смс видите? Вот на него тыкаете, и жалуетесь на
      гнустного нарушителя😈. (Стукачём быть плохо, но если человек этого
      заслужил, то кидайте репорт с чистой душой)
    </b>
    <span class="line"></span>
    <h1 style="margin-top: 40px; text-align: center">
      НО СИЛЬНО ТАКИМ НЕ УВЛЕКАЙТЕСЬ, И САМИ НЕ НАРУШАЙТЕ ПРАВИЛА
    </h1>
    <span class="line"></span>
    <!-- /contents/0.html -->
  </Layout>
</Page>

<style>
  span {
    white-space: pre;
  }
</style>
