---
import Page from "../../layouts/Page.astro";
import Layout from "../../layouts/Layout.astro";
import Copyable from "../../components/Copyable.astro";
---

<Page>
  <Layout>
    <h1>Спавн легенд</h1>
    <span class="line"></span>
    <h3 style="margin-top: 40px; display: block ">Спавн легенд:</h3>
    <b style="display: block">
      Это очень интересная штука (у меня за 6 или 7 лет игры на этом проекте,
      лега заспавнилась всего 1 раз). Постараюсь как можно понятней обьяснить
      как это всё работает. Каждых ? минут, есть шанс спавна легенды, шанс на
      спавн легенды составляет 10%. Если за указанное время лега не
      заспавнилась, то таймер обновляется, время через которое она опять сможет
      заспавнится с 10% шансом, генерируется рандомно.Все леги спавнятся в
      разных биомах и в разное время, почитать о том, где и как спавнится
      покемон, вы можете в гугле.
    </b>
    <p style="margin-top: 20px; display: block ">
      Я попросил бывшего модератора проекта, обьяснить как происходит спавн
      легенд, если моё обьяснение было не понятным, прочтите то, что написал он:
    </p>
    <p style="margin-top:10px">
      "Есть процент спавна легендарки (10%) еще есть проценты индивидуальные для
      каждой леги которые решают игроки проводя время в определенном биоме
      (Roofed Forest) стоит 5 человек то есть шанс больше у зерна,а если в
      (beach) стоит 2 человека то начинается рандом 60 процентов против 20"
    </p>
    <b style="margin-top: 10px; display: block">
      Проверить время спавна легенды, можно написав команду <Copyable>
        /checkspawns legendary
      </Copyable>
    </b>
    <img style="margin-top: 20px" src="/images/legendi.jpg" alt="" />
    <span class="line"></span>
    <h3 style="margin-top: 40px">Спавн ультра бистов</h3>
    <p style="margin-top: 40px; display: block ">
      Спавн бистов это тоже самое что и спавн легенд, но бисты спавнятся в
      ультра мире (подробнее в разделе <a href="/contents/dimension"
        >"Измерения"</a
      >) и шанс на их спавн составляет 20%
    </p>
    <b style="margin-top: 10px; display: block">
      Проверить время спавна биста, можно написав команду <Copyable>
        /checkspawns ultrabeasts
      </Copyable>
    </b>
    <img style="margin-top:20px" src="/images/bisti.jpg" alt="" />
    <span class="line"></span>
    <!-- /contents/0.html -->
  </Layout>
</Page>

<style>
  span {
    white-space: pre;
  }
  .line {
    height: var(--page-header-height);
    border-bottom: 2px solid #440707c0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
