---
 	import Page from "../../layouts/Page.astro"; 
 	import Layout from "../../layouts/Layout.astro";
---
<Page>
  <Layout>
	<h1>
		Магазины и их валюта
	</h1>
    <b style="margin-top: 40px; display: block">
   У торговцев валютой является покедоллары, штука полезная, вы можете купить множество весьма нужных ресурсов.
    </b>
    <b style="margin-top: 10px; display: block ">
   Думаю у вас будет много вопросов, постараюсь предугадать несколько из них, и ответить.
    </b>
	 <h3 style="margin-top: 30px; display: block ">
Где можно получать покедоллары ?
	 </h3>
	 <ul>
		<li style="margin-top: 20px">Продажа не нужных вам предметов у торговцев</li>
		<li style="margin-top: 10px"> Награды за стрики из покевикторины</li>
		<li style="margin-top: 10px"> Клановые покестопы</li>
	 </ul>
	 <span class="line"></span>
	 <h3 style="margin-top: 30px; display: block ">
	 Что выгодней всего продавать торговцам?
	 </h3>
	 <ul>
		<li style="margin-top: 10px">Алмазы: покупка стака алмазов обойдётся вам в 3-4 ФБ, стак алмазов это 192К покедолларов</li>
		<li style="margin-top: 10px">Камни расширения\уменьшения: покупка стака таких камушков обойдётся вам в 1 ФБ максимум, а может даже за бесплатно отдадут, с одного стака вы получите 64К покедолларов</li>
		<li style="margin-top: 10px">TM\TR: ТМ'ки или TR'ки стоят по разному, но за некоторые из них, вы можете получить до 8к покедолларов.</li>
	 </ul>
	 <span class="line"></span>
	<h3 style="margin-top: 50px; display: block ">
		Метка на магазины: [name:"Магазин", x:-802, y:99, z:41], просто скопируйте и напишите это в чат, нажмите и сохраните метку у себя
	</h3>
	<b style="margin-top: 10px; display: block ">

	</b>
	 
    <!-- /contents/0.html -->
  </Layout>
</Page>

<style>
  span {
    white-space: pre;
  }
  .line {
    height: var( --page-header-height );
	border-bottom: 2px solid #440707c0;	
	display: flex;
	justify-content: center;
	align-items: center;
  }
</bstyle>