---
import Page from "../../layouts/Page.astro";
import Layout from "../../layouts/Layout.astro";
import { globalProps } from "@lib/globalProps.js";

globalProps.page_section = "guides";
---

<Page>
  <Layout>
    <div>
      Список уникальных покемонов:
      <div>
        <ul style="list-style: none;">
          <li>Darkdevoir-<a href="#1001">#1001</a></li>
          <li>Tsariani-<a href="#1002">#1002</a></li>
          <li>Loviper-<a href="#1003">#1003</a></li>
          <li>Voilur-<a href="#1004">#1004</a></li>
          <li>Dragtaria-<a href="#1005">#1005</a></li>
          <li>Banblade-<a href="#1006">#1006</a></li>
          <li>Milodeen-<a href="#1007">#1007</a></li>
          <li>Bipoleon-<a href="#1008">#1008</a></li>
          <li>Luxvern-<a href="#1009">#1009</a></li>
        </ul>
      </div>
    </div>
    <span class="line"></span>
    <div id="1001">
      <element-columns style="flex-wrap: wrap; gap: 40px">
        <element-rows>
          <img
            loading="lazy"
            style="width: 350px; height: 250px;"
            src="/images/darkdevo.png"
            alt=""
          />
          <br /><b style="margin-left: 85px;">Номер в дексе: <i>#1001</i></b>
        </element-rows>
        <element-columns
          style="flex-wrap: wrap; justify-content: space-between; gap: 40px"
        >
          <div>
            <ul
              style="text-align: left; list-style-type: none; padding-left: 0;"
            >
              <li>
                Тип: <span class="type-badge dark" style="margin-left: 20px;"
                  >DARK</span
                >
                <span class="type-badge fairy">FAIRY</span>
              </li>
              <pre
                style="font-family: inherit; font-size: inherit; margin:0">Рост:          <i>1.50М</i></pre>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Вес:           <i>50.5кг</i></pre>
              </li>
              <li style="display: flex; align-items: center">
                <span style="margin-right: 15px;">Абилки:</span>
                <div style="display: flex; flex-direction: column;">
                  <span>Bad Dreams</span>
                  <span>Trace</span>
                  <span>Pixilate</span>
                </div>
              </li>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Обитает:  <i>???</i></pre>
              </li>
            </ul>
          </div>
        </element-columns>
        <div>
          <h2><b>Способ получения:</b></h2>
          <ol>
            <li>Легендарные рейды</li>
            <li>Турниры(ключ)</li>
            <li>ПокеВопросы(ключ)</li>
            <li>Аукционы</li>
          </ol>
        </div>
        <div>
          <h2><b>Разведение:</b></h2>
          <ul>
            <li>???</li>
          </ul>
        </div>
      </element-columns>
      <hr /><br />
      <element-rows>
        <div class="slider-container">
          <span class="slider-label">XP</span>
          <div class="slider" style="width: calc(85px);"></div><b>85</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Атака</span>
          <div class="slider" style="width: calc(80px);"></div><b>80</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Дэф</span>
          <div class="slider" style="width: calc(75px);"></div><b>75</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Атака</span>
          <div class="slider" style="width: calc(140px);"></div><b>140</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Дэф</span>
          <div class="slider" style="width: calc(85px);"></div><b>85</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Скорость</span>
          <div class="slider" style="width: calc(135px);"></div><b>135</b>
        </div>
      </element-rows>
      <hr /><br />
      <element-group class="types_table">
        <div class="container">
          <div class="type-box NORM">NORM</div>
          <div class="type-box FIRE">FIRE</div>
          <div class="type-box WATER">WATER</div>
          <div class="type-box ELECTR">ELECTR</div>
          <div class="type-box GRASS">GRASS</div>
          <div class="type-box ICE">ICE</div>
          <div class="type-box FIGHT">FIGHT</div>
          <div class="type-box POISON">POISON</div>
          <div class="type-box GROUN">GROUN</div>

          <div class="type-box FLY">FLY</div>
          <div class="type-box PSYCH">PSYCH</div>
          <div class="type-box BUG">BUG</div>
          <div class="type-box ROCK">ROCK</div>
          <div class="type-box GHOST">GHOST</div>
          <div class="type-box DRAGO">DRAGO</div>
          <div class="type-box DARK">DARK</div>
          <div class="type-box STEEL">STEEL</div>
          <div class="type-box FAIRY">FAIRY</div>

          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x2">x2</div>
          <div class="type-box empty"></div>

          <div class="type-box empty"></div>
          <div class="type-box x0">0</div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x05">0.5</div>
          <div class="type-box x0">0</div>
          <div class="type-box x05">0.5</div>
          <div class="type-box x2">x2</div>
          <div class="type-box x2">x2</div>
        </div>
      </element-group>
    </div>
    <span class="line"></span>
    <div id="1002">
      <element-columns style="flex-wrap: wrap; gap: 40px">
        <element-rows>
          <img
            loading="lazy"
            style="width: 325px; height: 275px;"
            src="/images/tsarianni.png"
            alt=""
          />
          <br /><b style="margin-left: 85px;">Номер в дексе: <i>#1002</i></b>
        </element-rows>

        <element-columns
          style="flex-wrap: wrap; justify-content: space-between; gap: 40px"
        >
          <div>
            <ul
              style="text-align: left; list-style-type: none; padding-left: 0;"
            >
              <li>
                Тип: <span class="type-badge grass" style="margin-left: 20px;"
                  >GRASS</span
                >
                <span class="type-badge water">WATER</span>
              </li>
              <pre
                style="font-family: inherit; font-size: inherit; margin:0">Рост:          <i>1.2М</i></pre>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Вес:           <i>21.4кг</i></pre>
              </li>
              <li style="display: flex; align-items: center">
                <span style="margin-right: 15px;">Абилки:</span>
                <div style="display: flex; flex-direction: column;">
                  <span>Merciless</span>
                  <span>QueenlyMajesty</span>
                  <span>Regenerator</span>
                </div>
              </li>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Обитает:  <i>???</i></pre>
              </li>
            </ul>
          </div>
        </element-columns>

        <div>
          <h2><b>Способ получения:</b></h2>
          <ol>
            <li>Легендарные рейды</li>
            <li>Турниры(ключ)</li>
            <li>ПокеВопросы(ключ)</li>
            <li>Аукционы</li>
          </ol>
        </div>

        <div>
          <h2><b>Разведение:</b></h2>
          <ul>
            <li>???</li>
          </ul>
        </div>
      </element-columns>
      <hr /><br />
      <b>Базовые статы:</b>
      <element-rows style="display: flex; margin-top: 10px;">
        <div class="slider-container">
          <span class="slider-label">XP</span>
          <div class="slider" style="width: calc(130px);"></div><b>130</b>
        </div>
        <div class="slider-container">
          <span class="slider-label">Атака</span>
          <div class="slider" style="width: calc(140px);"></div><b>140</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Дэф</span>
          <div class="slider" style="width: calc(140px);"></div><b>140</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Атака</span>
          <div class="slider" style="width: calc(20px);"></div><b>20</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Дэф</span>
          <div class="slider" style="width: calc(130px);"></div><b>130</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Скорость</span>
          <div class="slider" style="width: calc(70px);"></div><b>70</b>
        </div>
        <hr /><br />
      </element-rows>
      <element-group class="types_table">
        <div class="container">
          <div class="type-box NORM">NORM</div>
          <div class="type-box FIRE">FIRE</div>
          <div class="type-box WATER">WATER</div>
          <div class="type-box ELECTR">ELECTR</div>
          <div class="type-box GRASS">GRASS</div>
          <div class="type-box ICE">ICE</div>
          <div class="type-box FIGHT">FIGHT</div>
          <div class="type-box POISON">POISON</div>
          <div class="type-box GROUN">GROUN</div>

          <div class="type-box FLY">FLY</div>
          <div class="type-box PSYCH">PSYCH</div>
          <div class="type-box BUG">BUG</div>
          <div class="type-box ROCK">ROCK</div>
          <div class="type-box GHOST">GHOST</div>
          <div class="type-box DRAGO">DRAGO</div>
          <div class="type-box DARK">DARK</div>
          <div class="type-box STEEL">STEEL</div>
          <div class="type-box FAIRY">FAIRY</div>

          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x05">х0.5</div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x2">x2</div>
          <div class="type-box x05">x0.5</div>

          <div class="type-box x2">x2</div>
          <div class="type-box empty"></div>
          <div class="type-box x2">x2</div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box empty"></div>
        </div>
      </element-group>
    </div>
    <span class="line"></span>
    <div id="1003">
      <element-columns style="flex-wrap: wrap; gap: 40px">
        <element-rows>
          <img
            loading="lazy"
            style="width: 350px; height: 250px;"
            src="/images/loviper.png"
            alt=""
          />
          <br /><b style="margin-left: 85px;">Номер в дексе: <i>#1003</i></b>
        </element-rows>
        <element-columns
          style="flex-wrap: wrap; justify-content: space-between; gap: 40px"
        >
          <div>
            <ul
              style="text-align: left; list-style-type: none; padding-left: 0;"
            >
              <li>
                Тип: <span class="type-badge norm" style="margin-left: 20px;"
                  >NORMAL</span
                >
                <span class="type-badge poison">POISON</span>
              </li>
              <pre
                style="font-family: inherit; font-size: inherit; margin:0">Рост:          <i>1.3М</i></pre>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Вес:           <i>28.3кг</i></pre>
              </li>
              <li style="display: flex; align-items: center">
                <span style="margin-right: 15px;">Абилки:</span>
                <div style="display: flex; flex-direction: column;">
                  <span>Scrappy</span>
                  <span>Infiltrator</span>
                  <span>Shed Skin</span>
                </div>
              </li>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Обитает:  <i>???</i></pre>
              </li>
            </ul>
          </div>
        </element-columns>
        <div>
          <h2><b>Способ получения:</b></h2>
          <ol>
            <li>Легендарные рейды</li>
            <li>Турниры(ключ)</li>
            <li>ПокеВопросы(ключ)</li>
            <li>Аукционы</li>
          </ol>
        </div>
        <div>
          <h2><b>Разведение:</b></h2>
          <ul>
            <li>???</li>
          </ul>
        </div>
      </element-columns>
      <hr /><br />
      <element-rows>
        <div class="slider-container">
          <span class="slider-label">XP</span>
          <div class="slider" style="width: calc(90px);"></div><b>90</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Атака</span>
          <div class="slider" style="width: calc(185px);"></div><b>185</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Дэф</span>
          <div class="slider" style="width: calc(75px);"></div><b>75</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Атака</span>
          <div class="slider" style="width: calc(20px);"></div><b>20</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Дэф</span>
          <div class="slider" style="width: calc(75px);"></div><b>75</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Скорость</span>
          <div class="slider" style="width: calc(185px);"></div><b>185</b>
        </div>
      </element-rows>
      <hr /><br />
      <element-group class="types_table">
        <div class="container">
          <div class="type-box NORM">NORM</div>
          <div class="type-box FIRE">FIRE</div>
          <div class="type-box WATER">WATER</div>
          <div class="type-box ELECTR">ELECTR</div>
          <div class="type-box GRASS">GRASS</div>
          <div class="type-box ICE">ICE</div>
          <div class="type-box FIGHT">FIGHT</div>
          <div class="type-box POISON">POISON</div>
          <div class="type-box GROUN">GROUN</div>

          <div class="type-box FLY">FLY</div>
          <div class="type-box PSYCH">PSYCH</div>
          <div class="type-box BUG">BUG</div>
          <div class="type-box ROCK">ROCK</div>
          <div class="type-box GHOST">GHOST</div>
          <div class="type-box DRAGO">DRAGO</div>
          <div class="type-box DARK">DARK</div>
          <div class="type-box STEEL">STEEL</div>
          <div class="type-box FAIRY">FAIRY</div>

          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x05">0.5</div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box x2">x2</div>

          <div class="type-box empty"></div>
          <div class="type-box x2">x2</div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box empty"></div>
          <div class="type-box x0">x0</div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x05">x0.5</div>
        </div>
      </element-group>
    </div>
    <span class="line"></span>
    <div id="1004">
      <element-columns style="flex-wrap: wrap; gap: 40px">
        <element-rows>
          <img
            loading="lazy"
            style="width: 350px; height: 250px;"
            src="/images/voilyre.png"
            alt=""
          />
          <br /><b style="margin-left: 85px;">Номер в дексе: <i>#1004</i></b>
        </element-rows>
        <element-columns
          style="flex-wrap: wrap; justify-content: space-between; gap: 40px"
        >
          <div>
            <ul
              style="text-align: left; list-style-type: none; padding-left: 0;"
            >
              <li>
                Тип: <span class="type-badge fire" style="margin-left: 20px;"
                  >FIRE</span
                >
                <span class="type-badge fairy">FAIRY</span>
              </li>
              <pre
                style="font-family: inherit; font-size: inherit; margin:0">Рост:          <i>1.60М</i></pre>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Вес:           <i>50.5кг</i></pre>
              </li>
              <li style="display: flex; align-items: center">
                <span style="margin-right: 15px;">Абилки:</span>
                <div style="display: flex; flex-direction: column;">
                  <span>Flash Fire</span>
                  <span>Flame Body</span>
                  <span>Pixilate</span>
                </div>
              </li>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Обитает:  <i>???</i></pre>
              </li>
            </ul>
          </div>
        </element-columns>
        <div>
          <h2><b>Способ получения:</b></h2>
          <ol>
            <li>Легендарные рейды</li>
            <li>Турниры(ключ)</li>
            <li>ПокеВопросы(ключ)</li>
            <li>Аукционы</li>
          </ol>
        </div>
        <div>
          <h2><b>Разведение:</b></h2>
          <ul>
            <li>???</li>
          </ul>
        </div>
      </element-columns>

      <hr /><br />
      <element-rows>
        <div class="slider-container">
          <span class="slider-label">XP</span>
          <div class="slider" style="width: calc(100px);"></div><b>100</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Атака</span>
          <div class="slider" style="width: calc(75px);"></div><b>75</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Дэф</span>
          <div class="slider" style="width: calc(90px);"></div><b>90</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Атака</span>
          <div class="slider" style="width: calc(145px);"></div><b>145</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Дэф</span>
          <div class="slider" style="width: calc(100px);"></div><b>100</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Скорость</span>
          <div class="slider" style="width: calc(120px);"></div><b>120</b>
        </div>
      </element-rows>
      <hr /><br />
      <element-group class="types_table">
        <div class="container">
          <div class="type-box NORM">NORM</div>
          <div class="type-box FIRE">FIRE</div>
          <div class="type-box WATER">WATER</div>
          <div class="type-box ELECTR">ELECTR</div>
          <div class="type-box GRASS">GRASS</div>
          <div class="type-box ICE">ICE</div>
          <div class="type-box FIGHT">FIGHT</div>
          <div class="type-box POISON">POISON</div>
          <div class="type-box GROUN">GROUN</div>

          <div class="type-box FLY">FLY</div>
          <div class="type-box PSYCH">PSYCH</div>
          <div class="type-box BUG">BUG</div>
          <div class="type-box ROCK">ROCK</div>
          <div class="type-box GHOST">GHOST</div>
          <div class="type-box DRAGO">DRAGO</div>
          <div class="type-box DARK">DARK</div>
          <div class="type-box STEEL">STEEL</div>
          <div class="type-box FAIRY">FAIRY</div>

          <div class="type-box empty"></div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box x2">2</div>
          <div class="type-box empty"></div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box empty"></div>
          <div class="type-box x2">x2</div>
          <div class="type-box x2">x2</div>

          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x025">x0.25</div>
          <div class="type-box x2">x2</div>
          <div class="type-box empty"></div>
          <div class="type-box x0">x0</div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box empry"></div>
          <div class="type-box x05">x0.5</div>
        </div>
      </element-group>
    </div>
    <span class="line"></span>
    <div id="1005">
      <element-columns style="flex-wrap: wrap; gap: 40px">
        <element-rows>
          <img
            loading="lazy"
            style="width: 350px; height: 250px;"
            src="/images/dragtaria.png"
            alt=""
          />
          <br /><b style="margin-left: 85px;">Номер в дексе: <i>#1005</i></b>
        </element-rows>
        <element-columns
          style="flex-wrap: wrap; justify-content: space-between; gap: 40px"
        >
          <div>
            <ul
              style="text-align: left; list-style-type: none; padding-left: 0;"
            >
              <li>
                Тип: <span class="type-badge fairy" style="margin-left: 20px;"
                  >FAIRY</span
                >
                <span class="type-badge fly">FLY</span>
              </li>
              <pre
                style="font-family: inherit; font-size: inherit; margin:0">Рост:          <i>1.60М</i></pre>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Вес:           <i>25.5кг</i></pre>
              </li>
              <li style="display: flex; align-items: center">
                <span style="margin-right: 15px;">Абилки:</span>
                <div style="display: flex; flex-direction: column;">
                  <span>Multiscale</span>
                  <span>Pixilate</span>
                  <span>Natural Cure</span>
                </div>
              </li>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Обитает:  <i>???</i></pre>
              </li>
            </ul>
          </div>
        </element-columns>
        <div>
          <h2><b>Способ получения:</b></h2>
          <ol>
            <li>Легендарные рейды</li>
            <li>Турниры(ключ)</li>
            <li>ПокеВопросы(ключ)</li>
            <li>Аукционы</li>
          </ol>
        </div>
        <div>
          <h2><b>Разведение:</b></h2>
          <ul>
            <li>???</li>
          </ul>
        </div>
      </element-columns>
      <hr /><br />
      <element-rows>
        <div class="slider-container">
          <span class="slider-label">XP</span>
          <div class="slider" style="width: calc(90px);"></div><b>90</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Атака</span>
          <div class="slider" style="width: calc(140px);"></div><b>140</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Дэф</span>
          <div class="slider" style="width: calc(115px);"></div><b>115</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Атака</span>
          <div class="slider" style="width: calc(120px);"></div><b>120</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Дэф</span>
          <div class="slider" style="width: calc(115px);"></div><b>115</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Скорость</span>
          <div class="slider" style="width: calc(80px);"></div><b>80</b>
        </div>
      </element-rows>
      <hr /><br />
      <element-group class="types_table">
        <div class="container">
          <div class="type-box NORM">NORM</div>
          <div class="type-box FIRE">FIRE</div>
          <div class="type-box WATER">WATER</div>
          <div class="type-box ELECTR">ELECTR</div>
          <div class="type-box GRASS">GRASS</div>
          <div class="type-box ICE">ICE</div>
          <div class="type-box FIGHT">FIGHT</div>
          <div class="type-box POISON">POISON</div>
          <div class="type-box GROUN">GROUN</div>

          <div class="type-box FLY">FLY</div>
          <div class="type-box PSYCH">PSYCH</div>
          <div class="type-box BUG">BUG</div>
          <div class="type-box ROCK">ROCK</div>
          <div class="type-box GHOST">GHOST</div>
          <div class="type-box DRAGO">DRAGO</div>
          <div class="type-box DARK">DARK</div>
          <div class="type-box STEEL">STEEL</div>
          <div class="type-box FAIRY">FAIRY</div>

          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x2">x2</div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box x2">x2</div>
          <div class="type-box x025">x0.25</div>
          <div class="type-box x2">x2</div>
          <div class="type-box x0">x0</div>

          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x025">x0.25</div>
          <div class="type-box x2">x2</div>
          <div class="type-box empty"></div>
          <div class="type-box x0">x0</div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box x2">x2</div>
          <div class="type-box empty"></div>
        </div>
      </element-group>
    </div>
    <span class="line"></span>
    <div id="1006">
      <element-columns style="flex-wrap: wrap; gap: 40px">
        <element-rows>
          <img
            loading="lazy"
            style="width: 350px; height: 250px;"
            src="/images/banblayde.png"
            alt=""
          />
          <br /><b style="margin-left: 85px;">Номер в дексе: <i>#1006</i></b>
        </element-rows>
        <element-columns
          style="flex-wrap: wrap; justify-content: space-between; gap: 40px"
        >
          <div>
            <ul
              style="text-align: left; list-style-type: none; padding-left: 0;"
            >
              <li>
                Тип: <span class="type-badge steel" style="margin-left: 20px;"
                  >STEEL</span
                >
                <span class="type-badge ghost">GHOST</span>
              </li>
              <pre
                style="font-family: inherit; font-size: inherit; margin:0">Рост:          <i>1.30М</i></pre>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Вес:           <i>15кг</i></pre>
              </li>
              <li style="display: flex; align-items: center">
                <span style="margin-right: 15px;">Абилки:</span>
                <div style="display: flex; flex-direction: column;">
                  <span>No Guard</span>
                  <span>Cursed Body</span>
                  <span>Prankster</span>
                </div>
              </li>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Обитает:  <i>???</i></pre>
              </li>
            </ul>
          </div>
        </element-columns>
        <div>
          <h2><b>Способ получения:</b></h2>
          <ol>
            <li>Легендарные рейды</li>
            <li>Турниры(ключ)</li>
            <li>ПокеВопросы(ключ)</li>
            <li>Аукционы</li>
          </ol>
        </div>
        <div>
          <h2><b>Разведение:</b></h2>
          <ul>
            <li>???</li>
          </ul>
        </div>
      </element-columns>
      <hr /><br />
      <element-rows>
        <div class="slider-container">
          <span class="slider-label">XP</span>
          <div class="slider" style="width: calc(75px);"></div><b>75</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Атака</span>
          <div class="slider" style="width: calc(160px);"></div><b>160</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Дэф</span>
          <div class="slider" style="width: calc(135px);"></div><b>135</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Атака</span>
          <div class="slider" style="width: calc(45px);"></div><b>45</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Дэф</span>
          <div class="slider" style="width: calc(135px);"></div><b>135</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Скорость</span>
          <div class="slider" style="width: calc(25px);"></div><b>25</b>
        </div>
      </element-rows>
      <hr /><br />
      <element-group class="types_table">
        <div class="container">
          <div class="type-box NORM">NORM</div>
          <div class="type-box FIRE">FIRE</div>
          <div class="type-box WATER">WATER</div>
          <div class="type-box ELECTR">ELECTR</div>
          <div class="type-box GRASS">GRASS</div>
          <div class="type-box ICE">ICE</div>
          <div class="type-box FIGHT">FIGHT</div>
          <div class="type-box POISON">POISON</div>
          <div class="type-box GROUN">GROUN</div>

          <div class="type-box FLY">FLY</div>
          <div class="type-box PSYCH">PSYCH</div>
          <div class="type-box BUG">BUG</div>
          <div class="type-box ROCK">ROCK</div>
          <div class="type-box GHOST">GHOST</div>
          <div class="type-box DRAGO">DRAGO</div>
          <div class="type-box DARK">DARK</div>
          <div class="type-box STEEL">STEEL</div>
          <div class="type-box FAIRY">FAIRY</div>

          <div class="type-box x0">x0</div>
          <div class="type-box x2">x2</div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x05">0.5</div>
          <div class="type-box x05">0.5</div>
          <div class="type-box x0">0</div>
          <div class="type-box x0">0</div>
          <div class="type-box x2">x2</div>

          <div class="type-box x05">x0.5</div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box x025">x0.25</div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box x2">x2</div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box x2">x2</div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box x05">x0.5</div>
        </div>
      </element-group>
    </div>
    <span class="line"></span>
    <div id="1007">
      <element-columns style="flex-wrap: wrap; gap: 40px">
        <element-rows>
          <img
            loading="lazy"
            style="width: 350px; height: 250px;"
            src="/images/mylodine.png"
            alt=""
          />
          <br /><b style="margin-left: 85px;">Номер в дексе: <i>#1007</i></b>
        </element-rows>
        <element-columns
          style="flex-wrap: wrap; justify-content: space-between; gap: 40px"
        >
          <div>
            <ul
              style="text-align: left; list-style-type: none; padding-left: 0;"
            >
              <li>
                Тип: <span class="type-badge water" style="margin-left: 20px;"
                  >WATER</span
                >
              </li>
              <pre
                style="font-family: inherit; font-size: inherit; margin:0">Рост:          <i>6.2М</i></pre>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Вес:           <i>150кг</i></pre>
              </li>
              <li style="display: flex; align-items: center">
                <span style="margin-right: 15px;">Абилки:</span>
                <div style="display: flex; flex-direction: column;">
                  <span>LightningRod</span>
                  <span>Competitive</span>
                  <span>MarvelScale</span>
                </div>
              </li>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Обитает:  <i>???</i></pre>
              </li>
            </ul>
          </div>
        </element-columns>
        <div>
          <h2><b>Способ получения:</b></h2>
          <ol>
            <li>Легендарные рейды</li>
            <li>Турниры(ключ)</li>
            <li>ПокеВопросы(ключ)</li>
            <li>Аукционы</li>
          </ol>
        </div>
        <div>
          <h2><b>Разведение:</b></h2>
          <ul>
            <li>???</li>
          </ul>
        </div>
      </element-columns>
      <hr /><br />
      <element-rows>
        <div class="slider-container">
          <span class="slider-label">XP</span>
          <div class="slider" style="width: calc(125px);"></div><b>125</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Атака</span>
          <div class="slider" style="width: calc(85px);"></div><b>85</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Дэф</span>
          <div class="slider" style="width: calc(80px);"></div><b>80</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Атака</span>
          <div class="slider" style="width: calc(120px);"></div><b>120</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Дэф</span>
          <div class="slider" style="width: calc(130px);"></div><b>130</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Скорость</span>
          <div class="slider" style="width: calc(85px);"></div><b>85</b>
        </div>
      </element-rows>
      <hr /><br />
      <element-group class="types_table">
        <div class="container">
          <div class="type-box NORM">NORM</div>
          <div class="type-box FIRE">FIRE</div>
          <div class="type-box WATER">WATER</div>
          <div class="type-box ELECTR">ELECTR</div>
          <div class="type-box GRASS">GRASS</div>
          <div class="type-box ICE">ICE</div>
          <div class="type-box FIGHT">FIGHT</div>
          <div class="type-box POISON">POISON</div>
          <div class="type-box GROUN">GROUN</div>

          <div class="type-box FLY">FLY</div>
          <div class="type-box PSYCH">PSYCH</div>
          <div class="type-box BUG">BUG</div>
          <div class="type-box ROCK">ROCK</div>
          <div class="type-box GHOST">GHOST</div>
          <div class="type-box DRAGO">DRAGO</div>
          <div class="type-box DARK">DARK</div>
          <div class="type-box STEEL">STEEL</div>
          <div class="type-box FAIRY">FAIRY</div>

          <div class="type-box empty"></div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box x2">x2</div>
          <div class="type-box x2">x2</div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>

          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x05">x0.5</div>
          <div class="type-box empty"></div>
        </div>
      </element-group>
    </div>
    <span class="line"></span>
    <div id="1008">
      <element-columns style="flex-wrap: wrap; gap: 40px">
        <element-rows>
          <img
            loading="lazy"
            style="width: 350px; height: 250px;"
            src="/images/bipoleon.png"
            alt=""
          />
          <br /><b style="margin-left: 85px;">Номер в дексе: <i>#1008</i></b>
        </element-rows>
        <element-columns
          style="flex-wrap: wrap; justify-content: space-between; gap: 40px"
        >
          <div>
            <ul
              style="text-align: left; list-style-type: none; padding-left: 0;"
            >
              <li>
                Тип: <span class="type-badge water" style="margin-left: 20px;">WATER</span>
                <span class="type-badge steel">STEEL</span>
              </li>
              <pre
                style="font-family: inherit; font-size: inherit; margin:0">Рост:          <i>1.70М</i></pre>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Вес:           <i>70кг</i></pre>
              </li>
              <li style="display: flex; align-items: center">
                <span style="margin-right: 15px;">Абилки:</span>
                <div style="display: flex; flex-direction: column;">
                  <span>Defiant</span>
                  <span>Torrent</span>
                  <span>Inner Focus</span>
                </div>
              </li>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Обитает:  <i>???</i></pre>
              </li>
            </ul>
          </div>
        </element-columns>
        <div>
          <h2><b>Способ получения:</b></h2>
          <ol>
            <li>Легендарные рейды</li>
            <li>Турниры(ключ)</li>
            <li>ПокеВопросы(ключ)</li>
            <li>Аукционы</li>
          </ol>
        </div>
        <div>
          <h2><b>Разведение:</b></h2>
          <ul>
            <li>???</li>
          </ul>
        </div>
      </element-columns>
      <hr /><br />
      <element-rows>
        <div class="slider-container">
          <span class="slider-label">XP</span>
          <div class="slider" style="width: calc(85px);"></div><b>85</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Атака</span>
          <div class="slider" style="width: calc(145px);"></div><b>145</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Дэф</span>
          <div class="slider" style="width: calc(130px);"></div><b>130</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Атака</span>
          <div class="slider" style="width: calc(100px);"></div><b>100</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Дэф</span>
          <div class="slider" style="width: calc(90px);"></div><b>90</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Скорость</span>
          <div class="slider" style="width: calc(140px);"></div><b>140</b>
        </div>
      </element-rows>
      <hr /><br />
      <element-group class="types_table">
        <div class="container">
          <div class="type-box NORM">NORM</div>
          <div class="type-box FIRE">FIRE</div>
          <div class="type-box WATER">WATER</div>
          <div class="type-box ELECTR">ELECTR</div>
          <div class="type-box GRASS">GRASS</div>
          <div class="type-box ICE">ICE</div>
          <div class="type-box FIGHT">FIGHT</div>
          <div class="type-box POISON">POISON</div>
          <div class="type-box GROUN">GROUN</div>

          <div class="type-box FLY">FLY</div>
          <div class="type-box PSYCH">PSYCH</div>
          <div class="type-box BUG">BUG</div>
          <div class="type-box ROCK">ROCK</div>
          <div class="type-box GHOST">GHOST</div>
          <div class="type-box DRAGO">DRAGO</div>
          <div class="type-box DARK">DARK</div>
          <div class="type-box STEEL">STEEL</div>
          <div class="type-box FAIRY">FAIRY</div>

          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x05">0.5</div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x2">x2</div>
          <div class="type-box empty"></div>

          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x0">0</div>
          <div class="type-box empty"></div>
          <div class="type-box x05">0.5</div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x2">x2</div>
          <div class="type-box empty"></div>
        </div>
      </element-group>
    </div>
    <span class="line"></span>
    <div id="1009">
      <element-columns style="flex-wrap: wrap; gap: 40px">
        <element-rows>
          <img
            loading="lazy"
            style="width: 350px; height: 250px;"
            src="/images/luxvern.png"
            alt=""
          />
          <br /><b style="margin-left: 85px;">Номер в дексе: <i>#1009</i></b>
        </element-rows>
        <element-columns
          style="flex-wrap: wrap; justify-content: space-between; gap: 40px"
        >
          <div>
            <ul
              style="text-align: left; list-style-type: none; padding-left: 0;"
            >
              <li>
                Тип: <span class="type-badge dark" style="margin-left: 20px;"
                  >DARK</span
                >
                <span class="type-badge psych">PSYCH</span>
              </li>
              <pre
                style="font-family: inherit; font-size: inherit; margin:0">Рост:          <i>1.50М</i></pre>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Вес:           <i>50.5кг</i></pre>
              </li>
              <li style="display: flex; align-items: center">
                <span style="margin-right: 15px;">Абилки:</span>
                <div style="display: flex; flex-direction: column;">
                  <span>Плохие сны</span>
                  <span>След</span>
                  <span>Оворожение</span>
                </div>
              </li>
              <li>
                <pre
                  style="font-family: inherit; font-size: inherit; margin:0">Обитает:  <i>???</i></pre>
              </li>
            </ul>
          </div>
        </element-columns>
        <div>
          <h2><b>Способ получения:</b></h2>
          <ol>
            <li>Легендарные рейды</li>
            <li>Турниры(ключ)</li>
            <li>ПокеВопросы(ключ)</li>
            <li>Аукционы</li>
          </ol>
        </div>
        <div>
          <h2><b>Разведение:</b></h2>
          <ul>
            <li>???</li>
          </ul>
        </div>
      </element-columns>
      <hr /><br />
      <element-rows>
        <div class="slider-container">
          <span class="slider-label">XP</span>
          <div class="slider" style="width: calc(95px);"></div><b>95</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Атака</span>
          <div class="slider" style="width: calc(95px);"></div><b>95</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Дэф</span>
          <div class="slider" style="width: calc(80px);"></div><b>80</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Атака</span>
          <div class="slider" style="width: calc(165px);"></div><b>165</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">СП Дэф</span>
          <div class="slider" style="width: calc(90px);"></div><b>90</b>
        </div>

        <div class="slider-container">
          <span class="slider-label">Скорость</span>
          <div class="slider" style="width: calc(140px);"></div><b>140</b>
        </div>
      </element-rows>
      <hr /><br />
      <element-group class="types_table">
        <div class="container">
          <div class="type-box NORM">NORM</div>
          <div class="type-box FIRE">FIRE</div>
          <div class="type-box WATER">WATER</div>
          <div class="type-box ELECTR">ELECTR</div>
          <div class="type-box GRASS">GRASS</div>
          <div class="type-box ICE">ICE</div>
          <div class="type-box FIGHT">FIGHT</div>
          <div class="type-box POISON">POISON</div>
          <div class="type-box GROUN">GROUN</div>

          <div class="type-box FLY">FLY</div>
          <div class="type-box PSYCH">PSYCH</div>
          <div class="type-box BUG">BUG</div>
          <div class="type-box ROCK">ROCK</div>
          <div class="type-box GHOST">GHOST</div>
          <div class="type-box DRAGO">DRAGO</div>
          <div class="type-box DARK">DARK</div>
          <div class="type-box STEEL">STEEL</div>
          <div class="type-box FAIRY">FAIRY</div>

          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x05">0.5</div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x2">x2</div>
          <div class="type-box empty"></div>

          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x0">0</div>
          <div class="type-box empty"></div>
          <div class="type-box x05">0.5</div>
          <div class="type-box empty"></div>
          <div class="type-box empty"></div>
          <div class="type-box x2">x2</div>
          <div class="type-box empty"></div>
        </div>
      </element-group>
    </div>
  </Layout>
</Page>

<style>
  .type-badge {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-right: 5px;
  }

  .dark {
    background-color: #a98a78;
  }

  .psych {
    background-color: #ee99ac;
  }

  .norm {
    background-color: #a8a77a;
  }

  .fire {
    background-color: #ee8130;
  }

  .water {
    background-color: #6390f0;
  }

  .electr {
    background-color: #f7d057;
  }

  .grass {
    background-color: #7ac74c;
  }

  .ice {
    background-color: #96d9d6;
  }

  .fight {
    background-color: #c22e28;
  }

  .poison {
    background-color: #a33ea1;
  }

  .ground {
    background-color: #e2bf65;
  }

  .fly {
    background-color: #a98ff3;
  }

  .bug {
    background-color: #a6b91a;
  }

  .rock {
    background-color: #b6a136;
  }

  .ghost {
    background-color: #735797;
  }

  .drago {
    background-color: #6f35fc;
  }

  .steel {
    background-color: #b7b7ce;
  }

  .fairy {
    background-color: #d685ad;
  }

  .card li {
    list-style: none;
  }

  .slider-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .slider-label {
    width: 100px;
    margin-right: 10px;
  }

  .slider {
    height: 15px;
    background-color: gold;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid grey;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .slider-value {
    width: 40px;
  }

  .types_table {
    display: grid;
    --size: 1em;
    gap: 1em;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    grid-template-rows: repeat(2, 60px);
    gap: 1px;
  }

  .type-box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 10px;
    border-radius: 5px;
  }

  .NORM {
    background-color: #a8a77a;
  }
  .FIRE {
    background-color: #ee8130;
  }
  .WATER {
    background-color: #6390f0;
  }
  .ELECTR {
    background-color: #f7d057;
  }
  .GRASS {
    background-color: #7ac74c;
  }
  .ICE {
    background-color: #96d9d6;
  }
  .FIGHT {
    background-color: #c22e28;
  }
  .POISON {
    background-color: #a33ea1;
  }
  .GROUN {
    background-color: #e2bf65;
  }
  .FLY {
    background-color: #a98ff3;
  }
  .PSYCH {
    background-color: #ee99ac;
  }
  .BUG {
    background-color: #a6b91a;
  }
  .ROCK {
    background-color: #b6a136;
  }
  .GHOST {
    background-color: #735797;
  }
  .DRAGO {
    background-color: #6f35fc;
  }
  .DARK {
    background-color: #a98a78;
  }
  .STEEL {
    background-color: #b7b7ce;
  }
  .FAIRY {
    background-color: #d685ad;
  }

  .x2 {
    background-color: #7ac74c;
    color: white;
  }
  .x0 {
    background-color: #606060;
    color: white;
  }
  .x05 {
    background-color: #c22e28;
    color: white;
  }
  .x025 {
    background-color: #a04338;
    color: white;
  }
  .empty {
    background-color: transparent;
    color: transparent;
  }

  li {
    list-style-position: inside;
  }
</style>
