---
import Page from "@/layout/Page.astro";
import Layout from "@/layout/Layout.astro";
import Copyable from "@/Copyable.astro";
import { globalProps } from "@/globalProps.js";

globalProps.page_section = "guides";
---

<Page>
	<Layout article_variant="1">
		<h1>Магазины и их валюта</h1>
		<hr data_variant_1 />
		У торговцев валютой является покедоллары, штука полезная, вы можете купить множество
		весьма нужных ресурсов. Думаю у вас будет много вопросов, постараюсь предугадать
		несколько из них, и ответить.
		<h3 style=" display: block ">Где можно получать покедоллары ?</h3>
		<ul class="list">
			<li>Продажа не нужных вам предметов у торговцев</li>
			<li>Награды за стрики из покевикторины</li>
			<li>Клановые покестопы</li>
		</ul>
		<hr data_variant_1 />
		<h3 style="display: block">Что выгодней всего продавать торговцам?</h3>
		<ul class="list">
			<li>
				Алмазы: покупка стака алмазов обойдётся вам в 3–4 ФБ, стак алмазов это
				192К покедолларов
			</li>
			<li>
				Камни расширения\уменьшения: покупка стака таких камушков обойдётся вам
				в 1 ФБ максимум, а может даже за бесплатно отдадут, с одного стака вы
				получите 64К покедолларов
			</li>
			<li>
				TM\TR: ТМ'ки или TR'ки стоят по разному, но за некоторые из них, вы
				можете получить до 8к покедолларов.
			</li>
		</ul>
		<hr data_variant_1 />
		<h3 style="display: block">
			Метка на магазины: <Copyable
				>[name:"Магазин", x:-802, y:99, z:41]</Copyable
			>, — нажмите на текст, чтобы скопировать. Введите скопированный текст в
			игровой чат и нажмите, чтобы сохранить метку у себя
		</h3>
	</Layout>
</Page>

<style>
	span {
		white-space: pre;
	}
</style>
