---
import Page from "@/layout/Page.astro";
import Layout from "@/layout/Layout.astro";
import { globalProps } from "@/globalProps.js";

globalProps.page_section = "guides";
---

<Page>
	<Layout>
		<h1>Цены на предметы</h1>
		<hr data-variant-1 />
		<b style="margin-top:20px; display: block">
			Цены у всех разные, но,я постараюсь дать вам хотя бы приблизительное
			понимание цен на сервере.Здесь будут предметы и покемоны, на которых цена
			уже устоялась, и стабилизировалась
		</b>
		<p style="margin-top: 30px; display: block">
			Цены на предметы на прямую зависят от продавца, тот кто продаёт какой либо
			предмет, может выставить свою цену, покупатель может или согласиться с
			этой ценой, и купить предмет, либо не согласиться и отказаться от покупки
			и поискать продавца с более хорошей ценой, но, есть и третий вариант,
			предложить свою цену за этот предмет, в этом случае, у продавец и
			покупатель меняются местами, и теперь продавец либо соглашается с ценой
			либо отказывается продавать предмет.
		</p>
		<hr data-variant-1 />
		<h3 style="margin-top: 20px; display: block ">Цены на предметы:</h3>
		<p style="margin-top: 10px; display: block ">
			Легендарный ключ: 4 стака ФБ; Шайни камень: 10фб; Красные цепи: 1 стак ФБ;
			Золотые часы: 1 фб за шт.; Серебряные часы: 1 СБ за шт.; Серебряная
			крышка: 10 ФБ; Золотая крышка: 20-25 ФБ;Листики заповедника: 1.5 ФБ за
			шт.; Осколки разлома: 3 ФБ за шт.; Камень генов: 2ст ФБ; Камень
			способностей: 2.32 ФБ; Камень пола: 5 ФБ; Алмазы: 4 фб за стак; ГС\черри
			боллы: 10-15 ФБ за шт.; Мастер боллы: 1 шт=1ФБ; Улучшение Ранчо: 5 фб за
			шт; Пластины для призыва Арцеуса: 1 Фб за любую из них; Сфера: 10 ФБ; Орб
			кугра: 10-20 ФБ;Орб гроудона: 45-64 ФБ;
		</p>
		<hr data-variant-1 />
		<h3 style="margin-top: 40px; display: block ">Цены на покемонов:</h3>
		<p style="margin-top: 10px; display: block ">
			Шлак дитто: 1-1.32 ст. ФБ; Шлак Арцеус: 20 ФБ; Любые шлак леги: 10-25 ФБ;
			Ивелтал: 9-10 ст. ФБ; Деоксис: 7-8 ст. ФБ; Гиратина\Палкия\Диалга: 40 ФБ;
			Гластрир\Спектрир: 4 ст. ФБ; Шэймин: 1.32-2 ст. ФБ; Дианси: 1.32 ст. ФБ.
		</p>
		<hr data-variant-1 />
		<h3 style="margin-top:40px; display: block">Список шлак лег:</h3>
		<p style="margin-top: 20px; display: block">
			Артикуно; Молтрес; Запдос; Селеби; Райкоу; Суйкун; Энтей; Хо-Ох(проверяйте
			на наличие хид способности); Лугия(проверяйте на наличие хид способности);
			Латиос; Латиас; Юкси\Месприт\Азельф(Юзанные); Фион; Манапи; Виктини;
			Кобалион; Келдео; Виризион; Терракион; Мелоэтта; Генесект; Хупа;
			Сильвалли; Type: Null;
		</p>
		<hr data-variant-1 />
	</Layout>
</Page>

<style>
	span {
		white-space: pre;
	}
</style>
