---
import Page from "@/layout/Page.astro";
import Layout from "@/layout/Layout.astro";

import { globalProps } from "@/globalProps.js";

globalProps.page_section = "guides";
---

<Page>
	<Layout article_variant="1">
		<h1>Помощь проекту</h1>

		<p>
			Помогать проекту вы можете максимально просто. Кидайте репорты на
			нарушителей в чате 😈😈😈😈😈
		</p>
		<b> Если не знаете как, ща покажу</b>
		<div style="display: flex; flex-direction: column; align-items: center">
			<img
				loading="lazy"
				style="display: block"
				src="/images/project help.png"
				alt=""
			/>
			Текст на картинке: ([L][!][Детектив][Всезнамус][Купидон] Blant: ыа)
		</div>
		<b style=" display: block">
			Восклицательный знак возле смс видите? Вот на него тыкаете, и жалуетесь на
			гнустного нарушителя😈. (Стукачём быть плохо, но если человек этого
			заслужил, то кидайте репорт с чистой душой)
		</b>
		<br />
		<h3 style="text-align: center">
			(НО СИЛЬНО ТАКИМ НЕ УВЛЕКАЙТЕСЬ, И САМИ НЕ НАРУШАЙТЕ ПРАВИЛА)
		</h3>
	</Layout>
</Page>
