---
import Page from "@/layout/Page.astro";
import Layout from "@/layout/Layout.astro";
import { globalProps } from "@/globalProps.js";
import Battery1 from "./battery1.webp";
import Battery2 from "./battery2.webp";
import Battery3 from "./battery3.webp";

globalProps.page_section = "guides";
---

<Page>
	<Layout>
		<h1>Батарейки</h1>
		<span class="line"></span>
		<b style="margin-top: 20px; display: block">
			Батарейки — это ходовая валюта сервера, — за них вы можете купить почти
			всё (если ваш бюджет это позволяет, конечно).<b></b>
			Также их используют для заряда покевопросов (о том что такое покевопросы вы
			можете почитать в самом разделе <a href="/pokemons/quiz"
				>"Покевикторина"</a
			>)
		</b>
		<span class="line"></span>
		<p style="margin-top: 20px; display: block ">Типы батареек:</p>

		<ul class="list-with-images li">
			<li>
				<span style="margin-top: 20px; display: block ">
					Полная батарейка (ФБ)
				</span>
				<img loading="lazy" src={Battery1.src} alt="" />
			</li>
			<li>
				<span>Слабая батарейка (СБ)</span>
				<img loading="lazy" src={Battery2.src} alt="" />
			</li>
			<li>
				<span>Нестабильная батарейка (Обычно называют "Нестабы")</span>
				<img loading="lazy" src={Battery3.src} alt="" />
			</li>
		</ul>
		<span class="line"></span>
		<b style="margin-top: 10px; display: block ">
			Способов получения батареек есть много.
		</b>
		<ul class="list">
			<li>
				Первый: Вы можете отвечать на вопросы в покевикторине(подробнее в
				разделе "Покевикторина")
			</li>
			<li>
				Второй: Продажа ваших предметов, вы можете продать любой предмет который
				у вас есть, за батарейки, если он кому-то нужен конечно, если ваш
				предмет не пользуется спросом, то его врядли купят.
			</li>
			<li>Третий: Выполнение клан квестов(подробнее в разделе "Кланы")</li>
			<li>
				Четвёртый: Квесты на спавне. На спавне расположены квестовики, выполнив
				поручения от них, вы получите награду, там могут быть как батарейки, так
				и множество других предметов.
			</li>
			<li>
				Пятый: Розыгрыши. Иногда, игроки сервера делают раздачи, в которых вы
				можете залутать награды, в их числе могут быть батарейки. Кстати на счёт
				розыгрышей, на моём твич канале(boobooblant) происходят стримы, стримы я
				делаю исключительно для того что бы раздать вам своё имущество,
				участвующих у меня не много, так что если вы зайдёте на стрим, то у вас
				будут не плохие шансы на выигрышь.
			</li>
		</ul>

		<span class="line"></span>
	</Layout>
</Page>

<style>
	.list-with-images {
		list-style: none;
	}

	.list-with-images li {
		display: flex;
		flex-direction: column;

		padding: 2px;
		gap: 5px;
	}

	.list-with-images li img {
		width: 5em;
	}
</style>
