---
import Page from "../layouts/Page.astro";
import Layout from "../layouts/Layout.astro";
import { globalProps } from "@lib/globalProps.js";

globalProps.page_section = "guides";
---

<Page>
  <Layout page_section="guides">
    <h1>
      Приветствуем на сайте NameLog. Сайт создан специально для помощи игрокам
      которые впервые зашли на проект Black Dragon и хотят узнать про
      уникальности этого проекта.
    </h1>
    <p style="margin-block: 50px; display: inline-block">
      <b style="margin-block: 50px;">
        Пара слов о самом проекте. Black Dragon это проект который всё время
        развивается, модераторы\администраторы\кодеры в общем, все, стараются
        сделать этот проект как можно лучше, и вот, спустя 7 лет моего
        активного(не совсем) прибывания на этом проекте, я решил внести свой
        импакт в улучшение данного проекта, в этом мне помог мой друг: Володя
      </b>
    </p>

    <h3 style="margin-top: 3em; display: block">
      Над созданием сайта работали: "Енот" &
      "Blant\B.B.Blant\SSof\SSofHikiGaya\Абсолютик"
    </h3>
    <b style="margin-top: 300px; display: block">
      Картинки телеграмма и дискорда взяли у них: <a
        target="_blank"
        href="https://icons8.com">Icons8</a
      ></b
    >
  </Layout>
</Page>
