---
import Page from "@/layout/Page.astro";
import Layout from "@/layout/Layout.astro";
import { globalProps } from "@/globalProps.js";

globalProps.page_section = "guides";
---

<Page>
	<Layout>
		<main data_aspect_slip_paragraph>
			<h1 style=" display: block">Измерения</h1>
			<hr data_variant_1 />
			<h3 style=" display: block ">Типы измерений:</h3>
			<ul class="list">
				<li style=">Обычный мир</li>
				<li style=">Ультра мир</li>
				<li style=">Измерение Разлома</li>
				<li style=">Заповедник</li>
				<li style=">Адский мир</li>
				<li style=">Эндер мир</li>
			</ul>
			<hr data_variant_1 />
			<h1
				style=">
				Описание к мирам которые есть только на этом проекте:
			</h1>
			<h3 style="
			>
				Заповедник:
			</h1>
			<p style="display: block">
				В заповеднике находятся спец. формы покемонов, которые в обычном мире,
				либо в любых других мирах вы не сможете найти, там расположено 9
				покестопов которые ресетаются каждых 12 часов, с них вы можете лутать
				«Лист заповедника», листики это отдельная валюта в заповеднике, за них
				вы можете много чего купить, так же вы можете продавать их другим
				игрокам (напирмер мне) по курсу 1 к 1.5 (1 лист равен 1.5 фб)
			</p>
			<div style="text-align:center;">
				<img loading="lazy" src="images/zapovednik.jpg" alt="" />
			</div>
			<hr data_variant_1 />
			<h3 style=" display: block">Разлом:</h3>
			<p style="display: block">
				Всё что бы будете делать в разломе, это выполнять квесты и лутать
				"Осколки разлома" (валюта разлома), покестопов там так же 9, осколки вы
				так же можете продать игрокам, по курсу 1 к 3 (1 осколок = 3 ФБ).
				Покестопы там ресетаются 24 часа, из-за этого, цена выше, чем цена на
				листики заповедника
			</p>
			<div style="text-align:center;">
				<img loading="lazy" src="images/Razlom.jpg" />
			</div>
			<hr data_variant_1 />
			<h1>
				Метка на все измерения: [name:" Измерения", x:-807, y:103, z:-182] ,
				просто скопируйте, введите в чат, нажмите и добавьте метку к себе (В
				ультра мир вы можете попасть только призвав портал в него, для этого
				нужен Арцеус)
			</h1>
		</main>
	</Layout>

	<style>
		span {
			white-space: pre;
		}
	</style>
</Page>
