---
import Page from "@/layout/Page.astro";
import Layout from "@/layout/Layout.astro";
import { globalProps } from "@/globalProps.js";

globalProps.page_section = "guides";
---

<Page>
	<Layout>
		<h1>Покевикторина</h1>
		<hr data-variant-1 />
		<p style="margin-top: 40px; display: block">
			Покевопросы это лучшее что могли добавить на Black Dragon, это
			одновременно и весёлая крутая штука, и тема которая может вызвать ряд
			негативных эмоций, ибо когда вам попадётся Нидоран ♂ и Нидоран ♀, или же
			отряд обезьян в виде панпуров\пансиров\пансейджев и их эволюций, вы
			словите нереальный кайф от такой мозготравли.
		</p>
		<hr data-variant-1 />
		<h2 style="margin-top: 40px; display: block ">
			Как перестать проигрывать в покевопросах?
		</h2>
		<p style="margin-top: 20px; display: block">
			Перестать проигрывать не возможно, рано или поздно ваш мозг сплавится пока
			будет отвечать на эту викторину, но можно уменьшить кол-во проигрышей до
			минимума, всё что нужно, это либо потратить кучу батареек на сервере (так
			сделал я), либо пойти на арену и там за бесплатно тренить свой мега скил.
			Если у вас появился вопрос "Чё за арена?" то держите ответ:
		</p>
		<div style="text-align:center;">
			<img
				loading="lazy"
				style="margin-top:40px"
				src="/images/servers.jpg"
				alt=""
			/>
		</div>
		<p style="margin-top: 40px; display: block">
			Видите эту штуку с 0 онлайна в самом низу? Вот туда заходите, и на халяву
			трените свой скилл и память. Никогда не пользовался этим 😒😒😒. Там ещё
			можно команды из любых покемонов собирать, тоже на халяву, но на сервер
			оно не перенесётся )))
		</p>
		<hr data-variant-1 />
		<h3 style="margin-top: 20px">Что дают за эту вашу покевикторину?</h3>
		<p style="margin-top: 20px; display: block">
			Возьми и сам посмотри. Не знаешь как ??? Ну крч смотри
		</p>
		<img
			loading="lazy"
			style="margin-top:20px"
			src="/images/victorina2.jpg"
			alt=""
		/>
		<b style="margin-top: 20px; display: block"> Сначала тыкаешь сюды </b>
		<b style="margin-top: 40px; display: block">
			И дальше смотришь чё душе угодно
		</b>
		<img
			loading="lazy"
			loading="lazy"
			style="margin-top:20px"
			src="/images/victorina.jpg"
			alt=""
		/>
		<hr data-variant-1 />
	</Layout>
</Page>

<style>
	span {
		white-space: pre;
	}
</style>
