---
const {
  transition,
  _aside,
  _section,
  justify = "center",
  align = "end",
} = Astro.props;
---

<section {..._section}>
  <slot name="container" />
  <aside
    class:list={[{ transition }]}
    {..._aside}
    style={`justify-content: ${justify}; align-items: ${align}`}
  >
    <slot name="content" />
  </aside>
</section>

<style>
  section {
    display: inline-flex;
    align-items: end;
    justify-content: center;
    position: relative;
  }
  section:hover > aside {
    display: inherit;
    opacity: 1;
    transform: translateY(0);
    /* transition-delay: 1s; */
  }
  aside.transition {
    transition: all 0.5s;
    transition-behavior: allow-discrete;
    opacity: 0;
    transform: translateY(0.5em);
    transition-delay: 0.2s;
  }
  aside {
    display: none;
    position: absolute;
  }
</style>
