---
---

<section>
  <slot name="container" />
  <aside>
    <slot name="content" />
  </aside>
</section>

<style>
  section {
	display: inline-flex;
	align-items: center;
	justify-content: center;
    position: relative;
  }
  section:hover > aside {
    display: inherit;
  }
  aside {
    display: none;
	 position: absolute;
  }
</style>
