---
const id = `id_${crypto.randomUUID()}`;
const COMPONENT = "control/TextAlignSwitcher";
---

<span id={id}>
  <input type="checkbox" />
  Выравнивание текста
</span>

<script define:vars={{ id: id }}>
  const STORAGE_KEY = "namelog_page-main_text-align_value";
  const node = document.querySelector(`#${id} > input`);
  if (localStorage.getItem(STORAGE_KEY)) {
    node.setAttribute("checked", "");
    updateAlign();
  }
  node.onclick = (clickEvent) => {
    node.checked
      ? localStorage.setItem(STORAGE_KEY, true)
      : localStorage.removeItem(STORAGE_KEY);

    updateAlign();
  };

  function updateAlign() {
    document.documentElement.style.setProperty(
      "--page-main_text-align",
      node.checked ? "justify" : "inherit"
    );
  }
</script>
