---
const id = `id_${Date.now()}_${Math.floor(Date.now() * Math.random())}`;
const COMPONENT = "control/ThemeSwitcher";
---

<span id={id}>
  <input type="checkbox" />
  Светлая тема
</span>

<script define:vars={{ id: id }}>
  const STORAGE_KEY = "namelog_page-theme_light";
  const node = document.querySelector(`#${id} > input`);
  if (localStorage.getItem(STORAGE_KEY)) {
    node.setAttribute("checked", "");
    updateValue();
  }
  node.onclick = (clickEvent) => {
    node.checked
      ? localStorage.setItem(STORAGE_KEY, true)
      : localStorage.removeItem(STORAGE_KEY);

    updateValue();
  };

  function updateValue() {
    const method = node.checked ? "add" : "remove";
    document.body.classList[method]("light");
  }
</script>
