---
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
---

<header class="page-header">
  <section class="page-header-leftContent">
    <element-group
      style="gap: 30px; align-items: center; height: 100%; padding-inline: 30px;"
    >
      <span class="all-links-label" style="font-size: 0.9em;">
        Ссылки на наши соц. сети:
      </span>
      <span class="link-1">
        <a href="https://discord.gg/kWhCx4Kdbb">Discord</a>
      </span>
      <span class="link-2">
        <a href="https://t.me/+pREC84AhX8xmMmRi">Telegram</a>
      </span>
    </element-group>
  </section>
  <section class = "page-header-float">
    <span>(NameLog)</span>
  </section>
  <section class="page-header-rightContent"></section>
  <ThemeSwitcher />
</header>


<style>
  .page-header
  {
    position: relative;
  }
	@media (width <= 1280px) {
		.all-links-label {
			display: none;
		}

    .page-header-float span 
    {
      display: none;
    }
	}

  .page-header-float {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    pointer-events: none;
  }

  .page-header-float span {
    position: absolute;
    opacity: 0.7;
    font-family: "Comfortaa";
  }
	
</style>