---
import Header from "../layouts/Header.astro";
import Nav from "../layouts/Nav.astro";
import GiscusComments from "../components/GiscusComments.astro";
---

<Nav/>

<section class="page-wrapper">
  <Header />
  <main class="page-main">
    <section class = "slot-layout">
      <slot />
    </section>
    <GiscusComments />
  </main>
</section>

<style>
  .page-main {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-wrapper {
    min-width: min(100vw, 800px);
    max-width: 100vw;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    overflow: auto;
    
    
  }

  .list-number {
  }

  .slot-layout {
    line-height: 1.8;
  }
</style>
