
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');





:root 
{
	--page-header-height: 4em;
}

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
	scrollbar-color: #fff8 #fff0;
}

html
{
	overflow: hidden;
}
body 
{
	font-family: "Open Sans", sans-serif;
	color: #ffffff;
	background-color: #111010;
	display: flex;
	flex-direction: row;
	min-height: 100lvh;
	max-height: 100lvh;
	accent-color: orange;
	overflow: auto;
}

a {
	color: currentColor;
	text-decoration: underline;
}

hr
{
	background-color: var( --background, #80808020 );
	box-shadow: none;
	border: none;
	color: transparent;
	height: var( --height, 2px );
	width: var( --width, 80% );
}

element-group
{
	display: flex;
}

.page-header
{
	min-height: var( --page-header-height );
	background-color: transparent;
	border-bottom: 1px solid #80808020;
	display: flex;
	
}
.page-header-rightContent
{
	margin-left: auto;
	justify-content: end;
	align-items: center;
}
.page-wrapper
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.page-nav
{
	background-color: rgb(32, 32, 32);
	max-height: 100vh;
	overflow: visible;
	overflow: scroll;
	scrollbar-width: none;
	width: max-content;
}

.page-nav > .page-icon
{
	height: var( --page-header-height );
	border-bottom: 1px solid #808080c0;	
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-main
{
	padding: 1em;
}

